body{
    background-color: rgb(3,0,1);
    color: white;
    font-family: poppins-regular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    font-family: poppins-regular;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    flex-direction: column;
    line-height: 15px;
}

h1{
    font-weight: 200;
}

h2{
    font-size: 56px;
    line-height: 20px;
    font-family: poppins-medium;
}

h2 span{
    color: rgb(171,2,6);
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

li{
    display: inline-block;
    margin: 10px;
    
}

a{
    color: white;
}

a:hover{
    color: rgb(233,155,56);
    transition: 0.3s all;
}

#comunity{
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(233,155,56);
    padding: 10px;
}

#comunity:hover{
    color: white;
    background-color: rgb(233,155,56);
    transition: 0.5s all;
}

p{
    line-height: 20px;
    max-width: 580px;
    font-family: poppins-light;
}

img{
    width: 620px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    color: white;
    background-color: rgb(171,2,6);
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}